// fonts
$main-font: 'Roboto', sans-serif;

// colors

// text-colors
$main-text-color: #000000;
$secondary-text-color: #ffffff;
$footer-text-color: #545454;
$alert-text-color: #ff001b;

// brand-colors
$main-brand-color: #ff6b08;

// fills
$logo: #818181;

// backdrop
$light-backdrop: rgba(0, 0, 0, 0.25);
$loader-backdrop: rgba(0, 0, 0, 0.6);
