<div class='header__form-container js-form-container'>
  <form class='search-form' id='search-form'>
    <label class='input-container'>
      <input
        class='search-form__input'
        type='text'
        name='query'
        autocomplete='off'
        placeholder='Movies search...'
      />
    </label>
    <button class='search-form__btn' type='submit' data-btn='search'>
      <svg class='search-form__icon'>
        <use href='{{sprite}}#icon-search'></use>
      </svg>
    </button>
  </form>
  <p class='homepage__notification js-notification is-hidden'></p>
</div>