<ul class='my-library__list list js-library-btns'>
  <li class='my-library__item'>
    <button class='my-library__btn js-watched-btn' type='button' data-key='watched'>watched</button>
  </li>
  <li class='my-library__item'>
    <button class='my-library__btn js-queue-btn' type='button' data-key='queue'>queue</button>
  </li>
</ul>