<ul class='my-library__list list js-library-btns'>
  <li class='my-library__item'>
    <button class='my-library__btn js-watched-btn' type='button'>watched</button>
  </li>
  <li class='my-library__item'>
    <button class='my-library__btn accent js-queue-btn' type='button'>queue</button>
  </li>
</ul>