<section class="cards">
  <div class="container cards__container">
    <h2 class="cards__title">Список фильмов</h2>
    <ul class="cards__list js-cards__list list">
      <li class="cards__item">
        <a href="#" class="cards__link link">
          <div class="cards__loader"></div>
          <img
            class="cards__img"
            src="./images/example-mob.jpg"
            alt="постер фильма [название фильма]"
          />
          <h3 class="cards__title">[название фильма]</h3>
          <p class="cards__genres">[Drama, Action | 2020]</p>
          <p class="cards__rating">[10.0]</p>
        </a>
      </li>
      <li class="cards__item">
        <a href="#" class="cards__link link">
          <div class="cards__loader"></div>
          <img
            class="cards__img"
            src="./images/example-mob.jpg"
            alt="постер фильма [название фильма]"
          />
          <h3 class="cards__title">[название фильма]</h3>
          <p class="cards__genres">[Drama, Action | 2020]</p>
          <p class="cards__rating">[10.0]</p>
        </a>
      </li>
      <li class="cards__item">
        <a href="#" class="cards__link link">
          <div class="cards__loader"></div>
          <img
            class="cards__img"
            src="./images/example-mob.jpg"
            alt="постер фильма [название фильма]"
          />
          <h3 class="cards__title">[название фильма]</h3>
          <p class="cards__genres">[Drama, Action | 2020]</p>
          <p class="cards__rating">[10.0]</p>
        </a>
      </li>
      <li class="cards__item">
        <a href="#" class="cards__link link">
          <div class="cards__loader"></div>
          <img
            class="cards__img"
            src="./images/example-mob.jpg"
            alt="постер фильма [название фильма]"
          />
          <h3 class="cards__title">[название фильма]</h3>
          <p class="cards__genres">[Drama, Action | 2020]</p>
          <p class="cards__rating">[10.0]</p>
        </a>
      </li>
      <li class="cards__item">
        <a href="#" class="cards__link link">
          <div class="cards__loader"></div>
          <img
            class="cards__img"
            src="./images/example-mob.jpg"
            alt="постер фильма [название фильма]"
          />
          <h3 class="cards__title">[название фильма]</h3>
          <div class="cards_description-wrapper">
            <p class="cards__genres">[Drama, Action | 2020]</p>
            <p class="cards__rating">[10.0]</p>
          </div>
        </a>
      </li>
    </ul>
    <button class="cards__loadmore-btn js-loadmore-btn" type="button">Загрузить ещё</button>
    <div class="cards__loadmore js-loadmore-anchor">Якорь для бесконечной загрузки</div>
  </div>
</section>
