<section class="cards">
  <button class="top-scroll js-top-scroll">
    <svg class="top-scroll__icon" width="40" height="40">
      <use href="./images/sprite.svg#icon-topscroll"></use>
    </svg>
  </button>
  <div class="container cards__container">
    <h2 class="cards__title visually-hidden">Movies list</h2>
    <ul class="cards__list js-cards__list list"></ul>
    <div class="cards__loadmore js-loadmore-anchor">
      <div class="cards__loadmore-spinner"></div>
    </div>
    <div class="cards-list__loader js-cards-list__loader">
      <div class="loader-spinner"></div>
    </div>
  </div>
</section>
