<div class="modal devs js-devs-modal is-hidden">
  <div class="modal_overflow">
    <button type="button" class="devs-modal__button" data-action="close-devs-modal">
      <svg class="modal__close-btn">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="container devs__content">
      <!-- содержимое карточки с полным описание -->
      <div class="team">
        <h2 class="modal-title">team members</h2>
        <ul class="team-list">
          <li>
            <a class="team-person" target="_blank" href="https://github.com/pavel-sheremet-dev">
              <img src="./images/temporary/team/pasha.jpg" alt="" />
              <span>Pavel Sheremet | github page</span>
            </a>
          </li>
          <li>
            <a class="team-person" target="_blank" href="https://github.com/SvitlanaZhovanik">
              <img src="./images/temporary/team/sveta.jpg" alt="" />
              <span>Svitlana Zhovanik | github page</span>
            </a>
          </li>
          <li>
            <a class="team-person" target="_blank" href="https://github.com/YuriiKuzhil">
              <img src="./images/temporary/team/yura.jpg" alt="" />
              <span>Yurii Kuzhil | github page</span>
            </a>
          </li>
          <li>
            <a class="team-person" target="_blank" href="https://github.com/Alazardovich">
              <img src="./images/temporary/team/artem.jpg" alt="" />
              <span>Artem Lazarev | github page</span>
            </a>
          </li>
          <li>
            <a class="team-person" target="_blank" href="https://github.com/YarinaLoboda">
              <img src="./images/temporary/team/yarina.jpg" alt="" />
              <span>Yarina Loboda | github page</span>
            </a>
          </li>
          <li>
            <a class="team-person" target="_blank" href="https://github.com/Yaroslav1918">
              <img src="./images/temporary/team/yaroslav.jpg" alt="" />
              <span>Yaroslav Shtanko | github page</span>
            </a>
          </li>
          <li>
            <a class="team-person" target="_blank" href="https://github.com/Marsel888">
              <img src="./images/temporary/team/vlad.jpg" alt="" />
              <span>Vladislav Derkach | github page</span>
            </a>
          </li>
          <li>
            <a class="team-person" target="_blank" href="https://github.com/trubo4ka911">
              <img src="./images/temporary/team/anna.jpg" alt="" />
              <span>Anna Trubnikova | github page</span>
            </a>
          </li>
          <li>
            <a class="team-person" target="_blank" href="https://github.com/Vadym-Hryshchuk">
              <img src="./images/temporary/team/vadim.jpg" alt="" />
              <span>Vadym Hryshchuk | github page</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
