<div class="container header__container">
  <a class="logo link header__logo js-logo" href="./index.html">
    <svg>
      <use href="./images/sprite.svg#icon-logo"></use>
    </svg>
    <span class="logo__name">Filmoteka</span>
  </a>
  <nav class="navigation">
    <ul class="nav-menu list">
      <li class="nav-menu__item">
        <button type="button" class="nav-menu__btn accent js-home-btn" href="./index.html">
          home
        </button>
      </li>
      <li class="nav-menu__item">
        <button type="button" class="nav-menu__btn js-mylibrary-btn" href="./portfolio.html">
          my library
        </button>
      </li>
    </ul>
  </nav>
</div>
