.loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loader-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $loader-backdrop;
  z-index: 100;
  transition: opacity 250ms linear, visibility 250ms linear;
  overflow: auto;
}

.loader-backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
