.header {
  position: relative;
  min-height: 230px;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
  background-color: $main-text-color;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/home/home-page-mobile.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/home/home-page-mobile@2x.jpg');
  }
}

.header__container {
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/header/library/library-mobile.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/library/library-mobile@2x.jpg');
  }

  opacity: 0;
  transition: opacity $duration linear;
}

.header.library::before {
  opacity: 1;
}

.header__top {
  display: flex;
  align-items: baseline;
  margin-bottom: 40px;
}

.logo {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.logo__icon {
  width: 22px;
  height: 22px;
}

.logo__name {
  display: none;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: $secondary-text-color;
}

.nav-menu {
  display: flex;
}

.nav-menu__item:not(:last-child) {
  margin-right: 40px;
}

.nav-menu__btn {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 58px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: $secondary-text-color;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: color $duration linear;
}

.nav-menu__btn:hover {
  color: $main-brand-color;
}

.nav-menu__btn::after {
  position: absolute;
  content: '';
  display: block;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $main-brand-color;
  transform: scaleX(0);
  transition: transform $duration linear;
}

.accent.nav-menu__btn::after {
  transform: scaleX(1);
}

.search-form {
  position: relative;
  margin-bottom: 22px;
}

.header__bottom {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity $duration linear;
}

.header__bottom.is-hidden {
  opacity: 0;
}

.header__form-container {
  opacity: 1;
  transition: opacity $duration linear;
}

// .header.home .header__form-container {
//   opacity: 1;
// }

.search-form__input {
  width: 100%;
  height: 20px;
  padding-bottom: 4px;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $secondary-text-color;
  border-bottom: 1px solid $secondary-text-color;
  transition: border-color $duration linear;
}

.search-form__input:focus {
  outline: none;
  border-color: $main-brand-color;
}

.search-form__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $placeholder-color;
}

.search-form__btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 20px;
  width: 20px;

  background-color: transparent;
  border: none;
}

.search-form__icon {
  width: 12px;
  height: 12px;
}

.homepage__notification {
  color: $alert-text-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  opacity: 1;
  transition: opacity $duration linear;
}

.homepage__notification.is-hidden {
  opacity: 0;
}

.my-library__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 5px;

  opacity: 1;
  transition: opacity $duration linear;
}

// .header.library .my-library__list {
//   opacity: 1;
// }

.my-library__item:not(:last-child) {
  margin-right: 10px;
}

.my-library__btn {
  min-width: 130px;
  min-height: 44px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  border: 1px solid $secondary-text-color;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  color: $secondary-text-color;
  transition: border-color $duration linear, background-color $duration linear;
  cursor: pointer;
}

.my-library__btn:hover,
.my-library__btn:focus {
  border-color: $main-brand-color;
}

.my-library__btn.accent {
  background-color: $main-brand-color;
  border-color: $main-brand-color;
}

.my-library__btn.accent:hover,
.my-library__btn.accent:focus {
  background-color: $accent-brand-color;
  border-color: $accent-brand-color;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/home/home-page-tablet.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/home/home-page-tablet@2x.jpg');
    }

    .header::before {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/library/library-tablet.jpg');

      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
          url('../images/header/library/library-tablet@2x.jpg');
      }
    }
  }

  .logo__icon {
    margin-right: 10px;
  }

  .logo__name {
    display: block;
  }

  .search-form {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }

  .homepage__notification {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }

  .my-library__btn {
    min-width: 136px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    max-width: 1024px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/home/home-page-desktop.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/home/home-page-desktop@2x.jpg');
    }
  }

  .header::before {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/header/library/library-desktop.jpg');

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url('../images/header/library/library-desktop@2x.jpg');
    }
  }
}
